<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Ajouter un livre</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>

<body>
  {% include 'header.html' %}

  <div class="page-container">
    <div class="form-block">
        <h2 class="page-title">{{ action|capitalize }} un livre</h2>
        <form action="{{ url_for('submit_book') }}" method="POST" class="book-form">
          <input type="text" name="title" placeholder="Titre du livre" required>
          <input type="text" name="author" placeholder="Auteur" required>
          <textarea name="description" placeholder="Description du livre"></textarea>

          <input type="text" name="image_url" placeholder="URL de l'image du livre">

          <select name="category" required>
            <option value="" disabled selected>Catégorie du livre</option>
            <option value="Roman">Roman</option>
            <option value="Scolaire">Scolaire</option>
            <option value="Loisir">Loisir</option>
            <option value="Jeunesse">Jeunesse</option>
            <option value="Arts et sciences">Arts et sciences</option>
            <option value="Société">Société</option>
            <option value="Étude">Étude</option>
            <option value="Histoire">Histoire</option>


          </select>

          {% if action == 'donner' %}
          <select name="action" id="action" required>
            <option value="donner">Donner</option>
            <option value="emprunter">Emprunter</option>
          </select>
          {% elif action == 'vendre' %}
          <input type="hidden" name="action" value="vendre">
          {% endif %}




          <select name="condition" required>
            <option value="" disabled selected>État du livre</option>
            <option value="neuf">Neuf</option>
            <option value="bon">Bon</option>
            <option value="usé">Usé</option>
          </select>

          {% if action == 'vendre' %}
          <input type="number" name="price" placeholder="Prix en €" step="0.01" required>
          {% else %}
          <input type="hidden" name="price" value="0">
          {% endif %}

          <button type="submit" class="btn-orange"> Enregistrer le livre</button>
        </form>
     </div>
  </div>
  {% include 'footer.html' %}
</body>

</html>